# Python compiled files #
#########################
*.pyc
*/build/*
*.egg*
*build/*

# JSON files #
##############
*.json

# ipynb checkpoints #
#####################
*checkpoint.ipynb
*/.ipynb_checkpoints/*

# Other #
#########
*/logs/*
*/log/*
error_*
cbc_*
