# Python compiled files #
#########################
*.pyc
*/build/*
*.egg*

# JSON files #
##############
*.json

# ipynb checkpoints #
#####################
*checkpoint.ipynb
*/.ipynb_checkpoints/*

# Other #
#########
*/logs/*

