logs

# Python compiled files #
#########################
*.pyc
*/build/*
*.egg*
*build/*

# JSON files #
##############
*.json

# ipynb checkpoints #
#####################
*checkpoint.ipynb
.ipynb_checkpoints

# Other #
#########
*/logs/*
*/log/*
error_*
cbc_*
*.zip
*_error.html
all_rins.csv
*.npz
Octrees
Temp
