pandas
numpy
pvlib
fmlc
timezonefinder
pytz
pydoe
frads @ git+https://github.com/LBNL-ETA/frads@v2.1.14
doper @ git+https://github.com/LBNL-ETA/DOPER@v2.1.4
pywincalc @ https://raw.githubusercontent.com/LBNL-ETA/AFC/master/afc/resources/pyWinCalc/pywincalc-3.7.2-cp310-cp310-linux_x86_64.whl
